Client/Connected Services/ServiceReference1/RSI_WCF_App.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10001/RSI_WCF_App?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contract" />
  <xs:element name="AddPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contract" minOccurs="0" name="phone" nillable="true" type="q1:Phone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contract" minOccurs="0" name="GetPhoneResult" nillable="true" type="q2:Phone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhoneList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhoneListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Contract" minOccurs="0" name="GetPhoneListResult" nillable="true" type="q3:ArrayOfPhone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPhoneCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Contract" minOccurs="0" name="phonesList" nillable="true" type="q4:ArrayOfPhone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>